<table id="table" hx-get="/table" hx-trigger="every 5s">
    <thead>
    <tr>
        <th>{{day}}</th>
        {{#each headers}}
            <th>{{this}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each body}}
        <tr>
            {{#each this}}
                <td>{{this}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>